@use '../../style/variables';

.home-news__text {
    text-transform: uppercase;
    font-size: 2rem;
    background-image: url(/images/page_images/linje.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 6rem;
    text-align: center;
}