@use '../../style/variables';

.header-menu {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.25rem 0;
    background-color: variables.$color-dark;
    width: 100%;;
    
    &__list {
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
}

.not-active {
    color: inherit;
}

.active {
    color: variables.$color-accent;
}