@use './variables';

#root {
    //font-family: variables.$font-face;

    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer'
    ;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    //overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    
    background-color: variables.$color-dark;
    color: variables.$color-light;
    font-family: Arial, Helvetica, sans-serif;

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
        //overflow: hidden scroll;
    }

    footer {
        grid-area: footer;
    }
}

p {
    font-size: 1rem;
}

h2 {
    font-size: 2rem;
}

// utilities

.line-break {
    display: block;
}

.cursive {
    font-style: italic;
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}