// colors:
$color-dark: #000;
$color-light: #fff;
$color-accent: #a39161;
$color-medium-light: #e1e1e1;
$color-medium: #999;
$color-dark-transparent: #000000b3;

$color-border: #282418;
$color-arrows: #c0ab9f;
$color-subscribe-email: #1697f1;