@use '../../../style/variables';

.shop-categories-main {
    background-color: variables.$color-light;
    color: variables.$color-dark;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    height: fit-content;

    &__category-navigation {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        grid-column: 1 / 4;
        padding-block-end: 1rem;
    }

    &__shop-link {
        color: variables.$color-accent;
    }

    &__current-category-link {
        text-transform: capitalize;
    }
}